<nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center" id="navbarSupportedContent" style="width: 100%;">
            <a class="navbar-brand" href="{% url 'home' %}">ChatApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex" role="search"  method="GET" action = "{% url 'home' %}" style="margin: 0;">
                <input class="form-control me-2" name = "q" type="search" placeholder="Search" aria-label="Search" style="border-color:#6D5D6E; ">
                <button class="btn" type="submit" style="border-color:#6D5D6E; color: #6D5D6E;"111>Search</button>
            </form>
            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
                <a href = "{% url  'user-profile' request.user.id %}">
                    <div class="avatar avatar--small" style="padding-right: 8px;" >
                        <img src="{{request.user.avatar.url}}" style=" border: 3px solid #b6aeb6;" />
                    </div>
                </a>
                <div class="dropdown text-white">
                    {{request.user.username}}
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;color: #6D5D6E;">                    
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'settings' user.id %}">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
                    </li>
                </ul>
                {% endif %}   
            </div>
        </div>
    </div>
</nav>
