{% extends 'main.html' %}

{% block content %}
<main>
    <div class="container" style="height: 90vh;">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            {% if to_email %}
                <div class="alert alert-success" role="alert">
                    Your password reset link was send to {{to_email}}
                </div>
            {% endif %}
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center" >              
                <div class="mb-md-2 mt-md-4">
                    
                  <h2 class="fw-bold mb-2 text-uppercase">Forget Password</h2>
                    <form action = "" method = "GET">
                        {% csrf_token %}
                        <div class="form-outline form-white mb-3">
                            <label class="form-label px-4" for="email">Email</label>
<!--                        <input type="email"  name = "email" placeholder="email@email.com" id="email" class="form-control form-control-lg" />
 -->                        {{form.email}}
                            {{ form.non_field_errors }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <a  href="{% url 'user-profile' user.id %}" class="aaa btn btn-outline-light btn-lg px-5">Cancel</a>
                            <button class="aaa btn btn-outline-light btn-lg px-5">Send</button>
                          </div>

                    </form>
                </div>
    
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
</main>
{% endblock content %}