{% extends 'main.html' %}

{% block content %}

<main>
    <div class="container py-5" style="height: 90vh;">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <div class="mb-md-2 mt-md-4">
    
                  <h2 class="fw-bold mb-2 text-uppercase">{{method}} Study Room</h2>
                    <form action = "" method = "POST">
                        {% csrf_token %}
                        <div class="input-group mb-4" >
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01" >Options</label>
                            </div>
                            <select name ="topic" class="custom-select" id="topic" style="width: 80%;">
                                {% for topic in topics %}
                                <option value="{{topic.name}}">{{topic.name}}</option>
                                {% endfor %}
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div id = "otherOptionInput" class="form-group mb-4" style="display: none;">
                            <input type="text" name = "room_topic" id="room_name" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline form-white mb-4 ">
                        <label class="form-label px-4 m-0" for="room_name">Room Name</label>
                        <input type="text" name = "room_name" id="room_name" class="form-control form-control-lg" />
                        </div>
                        <div class="form-group">
                            <label for="description">Room Description</label>
                            <textarea class="form-control mb-4" name ="description" id="description" rows="5"></textarea>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a href="{% url 'home' %}" class="btn btn-outline-light btn-lg px-1" type="submit" style="width: 130px">Cancel</a>
                            <button class="btn btn-outline-light btn-lg px-1 " type="submit" style="width: 130px;">{{method}} Room</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
</main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var selectElement = document.getElementById("topic");
    var otherOptionInput = document.getElementById("otherOptionInput");

    selectElement.addEventListener("change", function() {
        console.log("SA")
        if (selectElement.value === "Other") {
            otherOptionInput.style.display = "block";
        } else {
            otherOptionInput.style.display = "none";
        }
    });
});
</script>

{% endblock content %}