{% extends 'main.html' %}

{% block content %}

<main>
  <div class="container py-5" style="height: 90vh;">
    <div class="row d-flex justify-content-center align-items-start h-100">
      <div class="col-3">
        <div class="card mb-3 p-0 bg-dark" style="border: none; width: 100%;">
          <div class="card-body p-3 mb-0 bg-dark rounded " style="color: #b6aeb6; height: 60px;">
              <h5 class = "m-0">Participants</h5>
          </div>
          <div class="scroll test card-body mt-1 px-1 py-0 rounded-bottom " style=" height: 700px; 
          background-color: #6D5D6E; display: flex; flex-direction: column; justify-content: space-between;">
            <div class="col">
              {% for user in participants %}
              <div class="friend row px-2">
                  <div class="d-flex justify-content-between">
                      <a href="{% url 'user-profile' user.id %}" class="py-2 d-flex align-items-center w-100" style="text-decoration: none; color: #6D5D6E;">
                        <div class="avatar avatar--medium" style="padding-right: 8px;" >
                          <img src="{{user.avatar.url}}" style=" border: 3px solid #393646;" />
                        </div>
                        <div class="col">
                          <div class = "text-dark fw-bold ">
                          {{user.name}}
                          </div>
                          <div class="text-dark fw-bold" >@{{user.username}}</div>
                        </div>
                      </a>
                  </div>
              </div>   
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="card mb-3 p-0 bg-dark" style="border: none; width: 100%;">
          <div class="card-body p-3 mb-0 bg-dark rounded " style="color: #b6aeb6; height: 60px;">
            <h5 style="color: #b6aeb6;" class = "m-0">Study Room</h5> 
          </div>
          <div class=" card-body mt-1 px-1 py-0 rounded-bottom " style=" height: 700px; 
          background-color: #6D5D6E; display: flex; flex-direction: column; justify-content: end;">
            <div class="p-2 mx-2" style="overflow-x: hidden; overflow-y: scroll;">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="my-1 fw-bold">{{room.name}}</h4>
                    <span style = " color: #b6aeb6; margin-right: 25px;">{{room.created|timesince}} ago</span>
                </div>
                <div class="mb-1" style="color: #b6aeb6;">Hosted By</div>
                <a href="{% url 'user-profile' room.host.id %}" class=" d-flex align-items-center mb-2" style=" text-decoration: none; color: #6D5D6E;">
                  <div class="avatar avatar--small" style="padding-right: 4px;" >
                    <img src="{{room.host.avatar.url}}"  style=" border: 3px solid #393646;"/>
                  </div>
                  <div class="col">
                    <div class = " fw-bold text-dark"> 
                      @{{room.host.username}}
                    </div>
                  </div>
                </a>
                <p>{{room.description}}</p>
                <p class="my-0 rounded text-dark fw-bold p-1" style="width: 90px; text-align: center; background-color: #393646;">{{room.topic.name}}</p>

            </div>
            <div id = "body" class="scroll test card-body mx-2 mt-2  pb-2 rounded " style="min-height: 350px; margin-bottom: 10px; background-color: #393646; color: #b6aeb6; height: 60px;">
              {% for message in room_messages %}
              {% ifchanged message.created.date %}
              <div class = "date-separator">
                <div class = "line"></div>
                  <div style="padding: 0 25px;">{{message.created.date}}</div>
                <div class = "line"></div>
              </div>
              {% endifchanged %}
              {{datetime.now}}
              {% ifchanged message.author.username %}
                <div class="d-flex align-items-center">
                  <a href="{% url 'user-profile' message.author.id %}" class=" d-flex align-items-center" style=" text-decoration: none; color: #6D5D6E;">
                    <div class="avatar avatar--small" style="padding-right: 8px;" >
                      <img src="{{message.author.avatar.url}}" style=" border: 3px solid #b6aeb6;"/>
                    </div>
                    <div class="col">
                      <div class = " fw-bold " style="color: #b6aeb6;"> 
                        @{{message.author.username}}
                      </div>
                    </div>
                  </a>
                  <div class="px-3">{{message.created}}</div>
                </div>
                <div style="padding-left: 40px;">{{message.body}}</div>
              {% else %}
                {% ifchanged message.created.date or message.created.minute  %}
                <div class="d-flex align-items-center">
                  <a href="{% url 'user-profile' message.author.id %}" class=" d-flex align-items-center" style=" text-decoration: none; color: #6D5D6E;">
                    <div class="avatar avatar--small" style="padding-right: 8px;" >
                      <img src="{{message.author.avatar.url}}" style=" border: 3px solid #b6aeb6;"/>
                    </div>
                    <div class="col">
                      <div class = " fw-bold " style="color: #b6aeb6;"> 
                        @{{message.author.username}}
                      </div>
                    </div>
                  </a>
                  <div class="px-3">{{message.created}}</div>
                </div>
                {% endifchanged %}
                <div style="padding-left: 40px;">{{message.body}}</div>
              {% endifchanged %}  
              {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <form method = "POST" id = 'post-form'>
              {% csrf_token %}
              <div class="form-outline form-white mb-4 d-flex justify-content-around align-items-center">
                <input type="text" name = "body" id="form-body" placeholder="Write your message here"
                class="form-control form-control-lg p-0 mx-2 text-white" style=" border: none; background-color: #393646;" />
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<script>
  var e = document.getElementById('body');
  e.scrollTop = e.scrollHeight;
</script>


<script>
  function bodyText(body) {
    return '<div style="padding-left: 40px;">'+ body+'</div>'
  }

  function avatarBodyText(body,created,id,username,avatar){
    return '<div class="d-flex align-items-center">'+
              '<a href= {% url "user-profile" '+ id +' %} class=" d-flex align-items-center" style=" text-decoration: none; color: #6D5D6E;">'+
                '<div class="avatar avatar--small" style="padding-right: 8px;" >'+
                  '<img src='+avatar+' style=" border: 3px solid #b6aeb6;" />'+
                '</div>'+
                '<div class="col">'+
                  '<div class = " fw-bold " style="color: #b6aeb6;">'+
                    '@'+username+
                  '</div>'+
                '</div>'+
              '</a>'+
              '<div class="px-3">'+created+'</div>'+
            '</div>'+
            '<div style="padding-left: 40px;">'+body+'</div>'
  }

  $(document).on('submit','#post-form',function(e){
  e.preventDefault();
  $.ajax({
    type:"POST",
    url: "{% url 'createRoomMessage' room.id %}",
    data: {
      body:$("#form-body").val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
  },
  success:function(data){
    if (data.lastMessageAuthor == "{{request.user.email}}"){
      if(data.timeDiff == false){
        var temp = bodyText(data.body)
      } else {
        var temp =  avatarBodyText(data.body,data.created,"{{request.user.id}}","{{request.user.username}}","{{request.user.avatar.url}}")
      }
      $("#body").append(temp);
    } else {
      var temp =  avatarBodyText(data.body,data.created,"{{request.user.id}}","{{request.user.username}}","{{request.user.avatar.url}}")
      $("#body").append(temp);
    } 
    const firstNameInput = document.getElementById('form-body');
    firstNameInput.value = '';
    var e = document.getElementById('body');
    e.scrollTop = e.scrollHeight;
  },
  error:function(response){
          alert("an error");
      }
    });
  });

  var count = "{{count}}";
  function refresh() {
    counter = 0;  
    $.ajax({
        type: "GET",
        url: '{% url "receive_room_message" room.id %}',
        data : {message : count},
        success: function(data){
          var message_array = data.message_array;
          var lastMessageAuthor = data.lastMessageAuthor;
          var timeDiff = data.timeDiff;
          message_array.forEach(element => {
            counter = counter + 1;
            if (lastMessageAuthor == element.author){
              if(timeDiff == false){
                var temp = bodyText(element.body)
              } else {
                var temp = avatarBodyText(element.body,element.created,element.id,element.username,element.url);
              }
              $("#body").append(temp);
            } else {
              var temp = avatarBodyText(element.body,element.created,element.id,element.username,element.url);
              $("#body").append(temp);
            }
          });
          count = parseInt(count) + counter;
          var e = document.getElementById('body');
          e.scrollTop = e.scrollHeight;
        },
        error:function(response){
          alert("an error");
      }
    });
}
$(function(){
    setInterval(refresh, 1000);
});
</script>

{% endblock content %}